body{
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 2rem;
}

.mainspace{
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.emptyspace{
    width: 30%;
    background-color: gray;
    border: darkgray;
    display: flex;
    flex-grow: 1;
}