div {
    width: 400px;
    padding: 1em;
    border: solid 2px blue;
    display: flex;
    padding-right: 80%;
    overflow: hidden;
    
}
div > div {
    background-color: #eee;
    padding: 20px;
    border: solid 2px #000;
}
*{
    box-sizing: border-box;
}

.flex-default{
flex-direction: default;
}
.flex-reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 9%;
    padding-left: 72%;
}
.flex-column{
    flex-direction: column;
}
.flex-column-reverse{
    flex-direction: column-reverse;
}